<form action="/main/upload2" method="post">
    <div>
        <label>Surgery Number</label>
        <input type="file" accept="text/csv" onchange="handleFile(this)" name="surgeryno" required />
        <div></div>
    </div>
    <div>
        <label>Option Mapping</label>
        <input type="file" accept="text/csv" onchange="handleFile(this)" name="optionmap"  required />
        <div></div>
    </div>
    <div>
        <label>Calibration</label>
        <input type="file" accept="text/csv" onchange="handleFile(this)" name="calibration" required  />
        <div></div>
    </div>
    <div>
        <label>Hospital</label>
        <input type="file" accept="text/csv" onchange="handleFile(this)" name="hospital" required />
        <div></div>
    </div>
    <input type="submit" />
    </div>
    <script>
        function handleFile(element) {

            const file = element.files[0];
            // if (!file.type.startsWith('image/')) return;

            var preview = element.nextElementSibling;

            var reader = new FileReader();

            reader.onload = function (e) {
                preview.innerHTML = "";

                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = element.name;
                input.value = e.target.result;
                preview.appendChild(input);
            }
            reader.readAsDataURL(file);


        }
    </script>