<form action="/main/upload" method="post" enctype="multipart/form-data">

	<input type="file" accept="text/csv" name="surgeryno" />
	<input type="submit" />

	<input type="file" accept="text/csv" name="optionmap" />
	<input type="submit" />

</form>